* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #25262b;
  color: white;
}

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;

  font-weight: normal;
}